.auth_title {
  font-family: "Playball", cursive;
  font-weight: normal;
  text-align: center;
}
.auth_error {
  color: #ff00ff;
  text-align: center;
  margin: 10px;
}
.auth_signUp {
  display: flex;
  flex-direction: column;
}
.auth_headerImage {
  object-fit: contain;
}
.auth_text {
  color: rgb(6, 153, 211);
  text-align: center;
  cursor: pointer;
}
.auth_progress {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.login_toggleMode {
  cursor: pointer;
  color: #0000ff;
}
.login_modal {
  text-align: center;
}
.login_reset {
  cursor: pointer;
}
.login_hiddenIcon {
  text-align: center;
  display: none;
}
.login_addIcon {
  cursor: pointer;
  color: gray;
}
.login_addIconLoaded {
  cursor: pointer;
  color: whitesmoke;
}